<div class="d-flex align-items-center">
  <div class="admin-article-title">
    <h1>記事一覧</h1>
  </div>
</div>
<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr class='d-flex'>
      <th>タイトル</th>
      <th>本文</th>
      <th>作成者</th>
      <th>作成日</th>
      <th>更新日</th>
      <th>画像</th>
      <th>削除</th>
    </tr>
  </thead>
  <% @articles.each do |article| %>
  <tbody>
      <tr class='d-flex'>
        <td><%= article.title %></td>
        <td><%= article.content.slice(0, 30) %></td>
        <td><%= article.user.name %></td>
        <td><%= article.created_at.to_s(:datetime_jp) %></td>
        <td><%= article.updated_at.to_s(:datetime_jp) %></td>
        <% if article.image.attached? %>
          <td><%= image_tag article.image, class: 'admin-article-image' %></td>
        <% else %>
          <td><%= image_tag 'noimage.jpg', class: 'admin-article-image' %></td>
        <% end %>
        <td><%= link_to '削除', "/admin/articles/#{article.id}", method: :delete, data: { confirm: '削除します' } %></td>
      </tr>
  </tbody>
  <% end %>
</table>