<%= form_with model: article do |f| %>
  <%= f.hidden_field :user_id %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <!-- <div class=></div> -->
  <div class="form-group">
    <%= f.label :content %>
    <!-- <label for="name">タイトル</label> -->
    <%= f.text_area :content, rows: 10, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :summary %>
    <%= f.text_area :summary, rows:5, placeholder: t('shared.placeholder'), class: 'form-control' %>
  </div>
  <%= image_field f %>
  <!-- <img alt="aaa" class="uploaded-image article-preview"> -->
  <% if article.image.attached? %>
    <div id='saved-image-wrapper' class="article-preview-container">
      <%= image_tag article.image, id: 'saved-image', class: 'article-preview' %>
    </div>
  <% end %>
  <div id="image-preview-wrapper">
    <div class="article-preview-container">
      <%= image_tag "", id: "uploaded-image", class: "article-preview" %>
    </div>
  </div>
  <button type="submit" id="submit-btn" class='btn btn-primary user-modal-button'>
    <%= t('shared.save') %>
  </button>
<% end %>

<%= javascript_pack_tag 'articles/form', 'data-turbolinks-track': 'reload' %>