<div class="d-flex align-items-center top-margin-sm article-title article-title-detail">
  <h1><%= t('.detail-article') %></h1>
  <% if @article.user_id == @current_user.id %>
    <%= link_to t('.edit-article'), edit_article_path(@article), class: 'btn btn-outline-dark edit-link' %>
    <%= link_to t('.delete-article'), article_path(@article), method: :delete, class: 'btn btn-outline-dark delete-link', data: { confirm: '削除します' } %>
  <% end %>
</div>
<div class="container article-container-detail">
  <h4 class="article-detail-header"><%= @article.title %></h4>
  <div class="article-detail-content">
    <div class="article-image-wrapper">
      <% if @article.image.attached? %>
        <%= image_tag @article.image, class: 'article-content-image' %>
      <% else %>
        <%= image_tag 'noimage.jpg', class: 'article-content-image' %>
      <% end %>
    </div>
    <div class="article-content-text">
      <%= simple_format(@article.content) %>
    </div>
  </div>
</div>