<div class="modal fade" id="includePasswordModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          <%= t('shared.user-password-confirmation') %>
        </h5>
      </div>
      <div class="modal-body">
        <%= form_with model: @current_user, url: update_password_path, class: 'd-flex modal-body-wrapper' do |f| %>
          <%= f.hidden_field :name, id: "hidden_name_2" %>
          <%= f.hidden_field :password, id: 'hidden_password' %>
          <%= f.hidden_field :password_confirmation, id: 'hidden_password_confirmation' %>
          <%= f.hidden_field :current_password, id: 'hidden_current_password' %>
          <button type="button" class="btn btn-secondary user-modal-button" data-dismiss="modal">
            <%= t('shared.back') %>
          </button>
          <button type="submit" class='btn btn-primary user-modal-button'>
            <%= t('shared.update') %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>