<div class="modal fade" id="onlyNameModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          <%= t('shared.only-user-name-confirmation') %>
        </h5>
      </div>
      <div class="modal-body">
        <%= form_with model: @current_user, url: user_path(@current_user), class: 'd-flex modal-body-wrapper' do |f| %>
          <%= f.hidden_field :name, id: "hidden_name" %>
          <button type="button" class="btn btn-secondary user-modal-button" data-dismiss="modal">
            <%= t('shared.back') %>  
          </button>
          <button type="submit" class='btn btn-primary user-modal-button'>
            <%= t('shared.update') %>
          </button>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>