<div class="d-flex align-items-center top-margin-sm">
  <h1>ユーザー情報編集</h1>
</div>
<div class="container bg-light">

  <%= form_with model: @current_user, url: user_path(@current_user) do |f| %>
    <%= auto_name_field_for_edit f %>
    <button type="button" class="btn btn-primary user-edit-btn" data-toggle="modal" data-target="#onlyNameModal">変更</button>
    <%= link_to '戻る', mypage_path, class: 'btn btn-outline-dark user-edit-back-btn' %>
  <% end %>
  <%= form_with model: @current_user, url: update_password_path(@current_user) do |f| %>
    <%= current_password_field_for_edit f %>
    <%= auto_password_field_for_edit f %>
    <button type="button" class="btn btn-danger user-edit-btn" data-toggle="modal" data-target="#includePasswordModal">変更</button>
    <%= link_to '戻る', mypage_path, class: 'btn btn-outline-dark user-edit-back-btn' %>
  <% end %>
</div>
<%= render 'only_name_modal' %>
<%= render 'includes_password_modal' %>


<%= javascript_pack_tag 'users/edit', 'data-turbolinks-track': 'reload' %>
