<div class="d-flex align-items-center top-margin-sm">
  <h1><%= t('.login') %></h1>
</div>
<div class="container">
  <%= form_with scope: :session, url: login_path  do |f| %>
    <%= auto_email_field f %>
    <%= auto_password_field f %>
    <div class="remember-check-wrapper">
      <%= f.label :remember_me, t('.auto-login') %>
      <%= f.check_box :remember_me %>
    </div>
    <button type="submit" class='btn btn-primary'>
      <%= t('.login') %>
    </button>
  <% end %>
</div>