<div class="d-flex align-items-center top-margin-sm">
  <h1><%= t('.user-info') %></h1>
  <%= link_to t('.edit-user'), edit_user_path(@current_user), class: 'btn btn-outline-dark edit-link' %>
</div>
<div class="container user-info-container">
  <div class="user-info-wrapper"><%=  t('.email') %>：<%= simple_format @current_user.email, class: "user-info bg-light" %></div>
  <div class="user-info-wrapper"><%= t('.name') %>：<%= simple_format @current_user.name, class: "user-info bg-light" %></div>
  <div class="user-info-wrapper"><%= t('.user-article-list' )%>：</div>
  <ul class="d-flex mypage-articles">
    <% @articles.each do |article| %>
      <div class="mypage-article-wrapper">
        <%= render partial: 'articles/article', object: article %>
      </div>
    <% end %>
  </ul>
  <% if @pagy.vars[:count] > 6 %>
    <div class="d-flex justify-content-center mb-2">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% end %>
  <div class="user-info-wrapper"><%= t('.favorite-articles') %>：<%= simple_format "ユーザがお気に入り登録した記事", class: "user-info bg-light" %></div>
  
</div>