<div class="d-flex align-items-center top-margin-sm">
  <h1><%= t('.register') %></h1>
</div>
<div class="container">
  <%= form_with model: @user do |f| %>
    <%= auto_email_field f %>
    <%= auto_name_field f %>
    <%= auto_password_field f %>
    <button type="submit" class='btn btn-primary'>
      <%= t('.register') %>
    </button>
  <% end %>
</div>