<nav class="navbar navbar-expand-lg navbar-light bg-lightgreen">
  <%= link_to 'MyMedia', articles_path, id: 'title', class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= header_link t('shared.article-list'), articles_path, false %>
      </li>
      <% if @current_user %>
        <li class="nav-item">
          <%= header_link t('shared.new-article'), new_article_path, false %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('shared.user') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= header_link t('shared.mypage'), mypage_path, true %>
            <%= link_to t('shared.logout'),  logout_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('shared.user') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to t('shared.sign-up'), new_user_path, class: "dropdown-item" %>
            <%= link_to t('shared.sign-in'),  login_path, class: "dropdown-item" %>
          </div>
        </li>
        <%= link_to t('shared.sign-in-link'), login_path, class: "header-nav-link" %>
        <!-- <a class="header-nav-link">ログインはこちら</a> -->
      <% end %>
    </ul>
    <div class="custom-nav-bar-wrapper dropdown">
      <a class="custom-nav-bar dropdown-toggle" href="#" id="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("shared.#{I18n.locale}") %>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdown">
        <%= link_to t('shared.en'), '/en/change_locale', method: :post, class:'dropdown-item' %>
        <%= link_to t('shared.ja'),  '/ja/change_locale', method: :post, class: "dropdown-item" %>
      </div>
    </div>
    <%= form_with url: articles_path, method: :get, class: 'form-inline my-2 my-lg-0', local: true do |f| %>
      <%= f.text_field :title, placeholder: t('shared.search-form'), value: params[:title], class: 'form-control mr-sm-2' %>
      <%= select_tag :search_type, options_for_select(@search_value, params[:search_type]), class: 'search_form' %>
      <%= button_tag type: 'submit', name: '', class: 'left-margin-5 btn btn-outline-success my-2 my-sm-0' do %>
        <%= t('shared.search') %>
      <% end %>
    <% end %>
  </div>
</nav>